
<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons class="ion-padding-start" slot="start">
      <ion-back-button text="" defaultHref="/" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-header class="ion-no-border">
  <ion-toolbar color="primary dealer-header">
      <ion-title class="dealer-title">Buyer Account<br/></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form>
    <ion-grid>
      <ion-list lines="none">
        <ion-list-header class="list-label-header">
          General Information
        </ion-list-header>
      </ion-list>
    </ion-grid>
  </form>
</ion-content>
